<p id="notice"><%= notice %></p>

<h1>Gamerooms</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gamerooms.each do |gameroom| %>
      <tr>
        <td><%= gameroom.title %></td>
        <td><%= gameroom.user_id %></td>
        <td><%= link_to 'Show', gameroom %></td>
        <td><%= link_to 'Edit', edit_gameroom_path(gameroom) %></td>
        <td><%= link_to 'Destroy', gameroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gameroom', new_gameroom_path %>
