<p id="notice"><%= notice %></p>

<div class="container custom-title center">
  <div class="row">
    <h2>Welcome to... <%= @gameroom.title %></h2>
    <p>
      <% if @gameroom.users.count == 1 %>
        Get some friends you big pample! you can't play this game alone unfortunately...
      <% else %>
        <%= link_to 'Create Phrase', new_gameroom_gameword_path(@gameroom), class: "btn btn-lg btn-primary" %>
      <% end %>
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="gameroom-section">
        <h2>Your Inbox</h2>
        <p>
          <% if @opened_count == 0 %>
            You have no new phrases, want to send out a beacon for more? </br> Add a button that sets a flag on this user that encourages other players to send them sneaks.
          <% else %>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <% @gamewords.each_with_index do |gameword, index| %>
                <% if gameword.status == nil %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id=<%="heading#{index}" %>>
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href=#<%="collapse#{index}"%> aria-expanded="true" aria-controls=<%="collapse#{index}"%>>
                          <%= gameword.phrase %>
                        </a>
                      </h4>
                    </div>
                    <div id=<%="collapse#{index}"%> class="panel-collapse collapse in" role="tabpanel" aria-labelledby=<%="heading#{index}"%>>
                      <div class="panel-body">
                        <%= gameword.phrase %> </br>
                        <%= link_to gameword_update_status_path(:gameword_id => gameword.id, :status => "accepted"), id: "update-sneak-status", class:"accepted", method: :put, remote: true do %> 
                          <button class="btn btn-warning">I Did This</button> 
                        <% end %> 
                        <%= link_to gameword_update_status_path(:gameword_id => gameword.id, :status => "failed"), id: "update-sneak-status", class:"failed", method: :put, remote: true do %> 
                          <button class="btn btn-warning">I Failed This</button> 
                        <% end %> 
                        <%= link_to gameword_update_status_path(:gameword_id => gameword.id, :status => "rejected"), id: "update-sneak-status", class:"rejected", method: :put, remote: true do %> 
                          <button class="btn btn-warning">This iz Rediculous</button> 
                        <% end %> 
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="gameroom-section">
        <h2>Player List</h2>
        <p>
          <% @gameroom.users.each do |user| %>
            <%= user.username %> </br>
          <% end %>
        </p>
      </div> 
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="gameroom-section">
        <h2>Recently Sneaked</h2>
          <% @all_gamewords.each_with_index do |gameword, index| %>
            <% if gameword.status != nil %>
              <div id=<%="collapse#{index}"%> class="panel-collapse collapse in" role="tabpanel" aria-labelledby=<%="heading#{index}"%>>
                <%= gameword.phrase %> : <%= gameword.status %> </br>
                <%= link_to gameword_toggle_favourite_path(:gameword_id => gameword.id), id: "favourite#{index}", class:"favourite", method: :put, remote: true do %> 
                  <button class="btn btn-warning">I like this</button> 
                <% end %>    
                <%= link_to gameword_set_valid_path(:gameword_id => gameword.id), id: "accept", class:"accept", method: :put, remote: true do %> 
                  <button class="btn btn-warning">Yes, this happened</button> 
                <% end %>  
                <%= link_to gameword_set_invalid_path(:gameword_id => gameword.id), id: "reject", class:"reject", method: :put, remote: true do %> 
                  <button class="btn btn-warning">No, this did not happen</button> 
                <% end %>  
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>